@font-face {
    font-family: "CustomFont";
    src: url("assets/font.otf") format("opentype");
}


/* Dark Mode */
:root {
    --color-background: #00151f;
    --color-text: #daccce;
    --color-link: #ca9a96;
    --color-button: #332a51;
    --color-button-hover: #160e36;
}

/* Light Mode */
.light-mode {
    --color-background: #FEFAE0;
    --color-text: #253031;
    --color-link: #315659;
    --color-button: #CCD5AE;
    --color-button-hover: #E9EDC9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h2{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Global Styling */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: Arial, sans-serif;
    padding-top: 60px;
    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Navbar Styling */
.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-text);
    width: 100%;
    top: 0;
    z-index: 10000;
    padding-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    background: var(--color-background);
}



/* Nav-links */
.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    cursor: pointer;
}

.nav-links li:hover{
    animation-duration: 0.5s;
    animation-name: image;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

.nav-links li a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

/* Home */
.image {
    padding: 1rem;
    border-radius: 50rem;
}

.image:hover{
    animation-duration: 0.5s;
    animation-name: image;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}


@keyframes image {
    from{ 
        rotate: 0deg;
    }
    33%{
        rotate: 10deg;
    }
    66%{
        rotate: -10deg;
    }
    to{
        rotate: 0deg;
    }
}

/* about */
.some-links{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.some-links li img {
    text-decoration: none;
    margin-right: 1rem;
    height: 3rem;
}

.some-links li:hover{
    animation-duration: 0.5s;
    animation-name: image;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

/* Skills */
.tools{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.tools li img {
    text-decoration: none;
    margin-right: 1rem;
    height: 3rem;
}

.tools li:hover{
    animation-duration: 0.5s;
    animation-name: image;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

/* Kontakt Sektion */
.contact form{
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact label {
    margin-top: 1rem;
    font-size: smaller;
    font-style: italic;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid var(--color-text);
    border-radius: 4px;
}

.contact button {
    margin-top: 1rem;
    padding: 0.75rem;
    background: var(--color-button);
    color: var(--color-text);
    width: 15rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.contact button:hover {
    background: var(--color-button-hover);
}



/* Footer */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    color: var(--color-text-secondary);
}

.signature {
    font-family: CustomFont;
    margin-left: 0.3rem;
}

