/* Dark Mode */
:root {
    --color-background: #00151f;
    --color-text: #daccce;
    --color-link: #ca9a96;
    --color-button: #332a51;
    --color-button-hover: #160e36;
}

/* Light Mode */
.light-mode {
    --color-background: #FEFAE0;
    --color-text: #253031;
    --color-link: #315659;
    --color-button: #CCD5AE;
    --color-button-hover: #E9EDC9;
}


/* Global Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-text);
}

.header, .section {
    padding: 4rem 2rem;
}

/* Navbar Styling */
.navbar {
    display: flex;
    flex-direction: row;
    color: var(--color-text);
    width: 100%;
    top: 0;
    z-index: 10000;
    margin-top: -4rem;
    margin-left: -1rem;
    cursor: pointer;
}

.intro{
    display: flex;
    margin-top: -1rem;
}

.image {
    padding: 1rem;
    border-radius: 50rem;
    max-width: 400px;
    width: 60%;
    height: auto;
}



.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    cursor: pointer;
}

.nav-links li a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}


/* Footer */
footer {
    text-align: center;
    padding: 3rem;
    color: var(--color-text-secondary);
}

